<div class="register">
    <h2>Register</h2>
    <input type="text" [(ngModel)]="firstName" placeholder="First Name" name="firstName">
    <input type="text" [(ngModel)]="lastName" placeholder="Last Name" name="lastName">
    <input type="text" [(ngModel)]="phoneNumber" placeholder="Phone Number" name="phoneNumber">
    <div class="role">
        <select [(ngModel)]="role" name="role">
            <option value="" disabled selected>Select Role</option>
            <option value="STUDENT">Student</option>
            <option value="TEACHER">Teacher</option>
            <option value="ADMIN">Admin</option>
        </select>
    </div>
    <input type="text" [(ngModel)]="email" placeholder="Email" name="email">
    <input type="password" [(ngModel)]="password" placeholder="Password" name="password">
    <p>Password must be at least 5 characters</p>
    
    <button (click)="onRegister()">Register</button>
    <a href="login" class="login-link">👉 Login Now!</a>
</div>
