.product-detail-container {
  padding: 20px;
}

.product-card {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none; /* Remove any border */
}

.card {
  border: none; /* Remove the border around the card */
  box-shadow: none; /* Remove the box shadow if any */
}

.card-body {
  display: flex;
  gap: 50px;
}

.product-image {
  /* max-width: 100%; */
  width: 500px;
  height: auto;
}

.product-details {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Vertically centers content */
  align-items: flex-start; /* Align text to the left */
  text-align: left; /* Ensures text is aligned left within the box */
}

.card-title {
  font-size: 1.8rem;
  font-weight: bold;
}

.card-subtitle {
  font-size: 1.2rem;
  color: #777;
}

.card-text {
  font-size: 1rem;
  margin-bottom: 8px;
}

.details {
  margin-top: 20px;
}
