<div class="product-detail-container">
  @if (product) {
    <div class="product-card">
      <div class="card">
        <div class="card-body d-flex">
          <!-- Product Image on the Left -->
          <img src="{{ apiBaseUrl }}/product/{{ product.id }}/image" alt="{{ product.name }}" class="product-image" />

          <!-- Product Details on the Right -->
          <div class="product-details d-flex flex-column justify-content-center">
            <h3 class="card-title">{{ product.name }}</h3>
            <h4 class="card-subtitle">{{ product.brand }}</h4>
            <p class="card-text">{{ product.description }}</p>
            <div class="details">
              <p class="card-text"><strong>Price:</strong> ${{ product.price }}</p>
              <p class="card-text"><strong>Category:</strong> {{ product.category }}</p>
              <p class="card-text"><strong>Release Date:</strong> {{ product.releaseDate }}</p>
              <p class="card-text"><strong>Available:</strong> {{ product.available ? 'Yes' : 'No' }}</p>
              <p class="card-text"><strong>Quantity:</strong> {{ product.quantity }}</p>
            </div>
            <div>
              <button class="btn btn-primary me-2" (click)="updateProduct(product.id)">Update</button>
              <button class="btn btn-danger" (click)="deleteProduct(product.id)">Delete</button>
            </div>
            
          </div>
        </div>
      </div>
    </div>
  } @else {
    <p>Loading product details...</p>
  }
</div>
